/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:wght@300;400;500;700&display=swap');

/* Colors rgb(129, 58, 8); */

/* Global styles */ 

body {
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-size: 20px;
    background-image: url(../images/background.jpg); /* Give credit */
    background-repeat: no-repeat;
    background-color: #ccc;
}

/* Header Area */
a {
    text-decoration: none;
    color: rgb(129, 58, 8);
    font-size: 25px;
    margin: 3rem;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    vertical-align: middle;
}

/* Horizobtal line syling before and after the main section */
hr {
    color: rgb(129, 58, 8);
    border: solid 3px;
}

/* Footer area */

/* Social Media icon styling */
footer a {
    font-size: 2rem;
    padding: 1rem;
    color: rgb(129, 58, 8);
}

/* Game level selector styling */
.game-selector {
    margin: 1rem;
}

.dropdown-level {
    display: block;
}

.dropdown-menu {
    border: none;
    background-color: transparent;
}

.select {
    margin-right: 1rem;
    background-color: rgb(129, 58, 8);
}

.select:hover {
    background-color: #0d6efd;
}

/* contact.html email form styling */
.form-control {
    width: 40%;
    margin: auto;
}

.message-box {
    height: 70px;
}


/* Special button style for 404.html page */
.button {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}

/* CSS used to hide DOM elements in main.js */

.no-display {
    visibility: hidden;
}

#gameBoard {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    width: 70%
}

.animalCard {
    margin-top: 10px;
}


/* Media queries */

/* Email from fields are sized up for smaller screen sizes by 10% so it looks better on the screen. */
@media screen and (max-width:900px) {
    .form-control {
        width: 50%;
    }
}
 /* Social Media Icons stying in the same row */
@media screen and (max-width: 552px) {
    footer a {
        margin: 6px;
    }
}

 /* Main Nav stying in the same row */
@media screen and (max-width: 440px) {
    a {
        margin: 6px;
    }
}

