/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Global styles */ 

body {
    font-family: "Monstserrat", sans-serif;
    font-size: 20px;
    background-image: url(../images/background.jpg); /* Give credit */
    background-repeat: no-repeat;
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: chocolate;
    font-size: 25px;
    margin: 2rem;
}


.dropdown-level {
    display: block;
    margin-left: 5px;
}

.form-control {
    width: 50%;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    vertical-align: middle;
}

hr {
    color: chocolate;
    border: solid 3px;
}

footer a {
    font-size: 2rem;
    padding: 1rem;
    color: chocolate;
}

.game-selector {
    margin: 1rem;
}

.help {
    font-size: 20px;
}

/* CSS uded to hide DOM elements */

.no-display {
    visibility: hidden;
}

#gameBoard {
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both;
}

.fas {
    height: 50px;
    width: 50px;
}